<div class="widget-body padding-none" ng-controller="AdminUnivSkillsCourses">
    
    <div id="keywordsdisplay:none;width: 1000px; height: 600px; position: relative;"></div>
	
	<section style="margin-bottom:10px;">
		<span style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:gray"></i>{{_labels.university}}</span>
		<span style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:orange"></i>{{_labels.diploma}}</span>
		<span style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:red"></i>{{_labels.option}}</span>
		<span style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:green"></i>{{_labels.course}}</span>
		<span style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:blue"></i>{{_labels.keyword}}</span>
		<span class="hide" style="margin:5px;"><i class="fa fa-square" style="margin-right: 2px;color:yellow"></i>{{_labels.skill}}</span>
		
	</section>
	
	<div class="row" id="skillPanel" style="text-align: center;">
		
		
	</div>
</div>