<!DOCTYPE html>
<html>
<head>
	<title>Test waza</title>
	<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">


</head>
<body ng-app="wazaApp">

<div class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">AngularJS</a>
	</div>
</div>
<div class="clearfix">
<h1>Mon test waza</h1>
<div ng-controller="demoCtrl">
<h2>Bienvenue sur mon test waza</h2>
{{text}}

http://www.supinfo.com/articles/single/1155-demarrer-projet-avec-angularjs
</div>
   
<div ng-view></div>

 	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"> </script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"> </script>
	 <script src=http://code.jquery.com/jquery-1.10.2.min.js></script>
	<script src="/js/app.js"></script>
	 <script src="/js/controllers/demoCtrl.js"></script>

	

</body>
</html>
